.canvas {
    border: 1px solid #000;
    position: relative;
}
.width-100{
	width:100%;
}
.list-group-item{
	background: #000;
	border: 1px solid #333;
	cursor: pointer;
	transition: all liner 0.5s;
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.list-group-item:hover{
	background: #111;
}
.list-group-item .delete{
	background:#c9302c;
}
.list-group-item span{
	cursor: pointer;
}
.button-group{
	padding: 20px;
}
.button-group button{
	margin: 0 10px 0 10px;
	cursor: pointer;
}